/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
#heading {
	width:100%;
	float:left;
	height:297px;
	overflow:hidden;
	background:#1e1e1e
	}
	
	#heading a { color:#FFF; text-decoration:none; opacity:1.0; 
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out; }
	#heading:hover a {  border-bottom:1px solid #FFF;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out; }
	#heading:hover a:hover {opacity:0.6; 
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out; }
	
#heading h2 {
	width:100%;
	color:#FFF;
	text-align:center;
	position:fixed;
	left:0px;
	top:115px;
	border-bottom:0px
}

#heading p {
	width:100%;
	color:#FFF;
	text-align:center;
	position:fixed;
	left:0px;
	top:162px;
	font-size:16px;
	line-height:22px;
	letter-spacing:1px
}

#heading .second-para {
	top:257px;
	font-size:13px
}


#heading_projects {
	width:100%;
	float:left;
	height:130px;
	overflow:hidden;
	background:#1e1e1e
	}
	
	#heading a { color:#FFF; text-decoration:none; opacity:1.0; 
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out; }
	#heading:hover a {  border-bottom:1px solid #FFF;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out; }
	#heading:hover a:hover {opacity:0.6; 
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out; }
	
#heading_projects h2 {
	width:100%;
	color:#FFF;
	text-align:center;
	position:fixed;
	left:0px;
	top:115px;
	border-bottom:0px
}

#heading_projects p {
	width:100%;
	color:#FFF;
	text-align:center;
	position:fixed;
	left:0px;
	top:162px;
	font-size:16px;
	line-height:22px;
	letter-spacing:1px
}

#heading_projects .second-para {
	top:257px;
	font-size:13px
}	

.quote {
	text-align:center;
	border-bottom:0px;
	line-height:28px;
	margin-bottom:72px
}

.red {
	color:#b01717
}

#footer {
	background:#1e1e1e;
	width:100%;
	height:86px;
	float:left;
	margin-top:64px
}

#footer p {
	width:100%;
	text-align:center;
	color:#FFF;
	font-size:13px;
	margin-top:36px;
	letter-spacing:1px
}

#footer:hover a {text-decoration:underline }

#footer p a {
	color:#FFF;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	text-decoration:none }
	
	#footer p a:hover {opacity:0.6; 
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out; }

#logo {
	background:url(../images/FdeV.png);
	background-size:100%;
	width:286px;
	height:110px;
	position:fixed;
	left:50%;
	margin-left:-143px;
	top:10px
}


#full-container {
	width:96%;
	margin-left:2%;
	overflow-x:hidden;
	position:relative;
	z-index:1;
	background:#f0efef;
float:left
}

.post {
	width:21%;
	height:auto;
	margin-right:2%;
	margin-left:2%;
	margin-bottom:0%;
	float:left;
	position:relative;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	-webkit-backface-visibility: hidden;
	cursor:pointer
}

.post-photo {
	width:78%;
	height:auto;
	float:left;
	position:relative;
	background:#FFF;
	padding:11%;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.post-photo img {
	float:left;
	width:100%;
	height:auto;
	opacity:0.8
}

.post-content {
	float:left;
	width:100%;
	position:relative;
	padding-bottom:30px;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}





.post:hover .post-content {
	background:#FFF;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.post-hover {
	background:url(../images/below-image-hover.png) no-repeat;
	width:100%;
	background-size:100%;
	height:10px;
	position:absolute;
	left:0px;
	top:0px;
	opacity:0
}

.background-blur {
	display:none;
	z-index:-1;
	position:fixed; width:100%; height:100%; top:0px; left:0px;
	opacity:0.1
}

.background-blur img {
	opacity:0.8
}

.photograph {
	background:url(../images/camera.png);
	background-size:100%;
	width:24px;
	height:18px;
	position:absolute;
	left:50%;
	top:31px;
	margin-left:-12px
}

.music {
	background:url(../images/music.png);
	background-size:100%;
	width:16px;
	height:24px;
	position:absolute;
	left:50%;
	top:31px;
	margin-left:-8px
}

.instagram {
	background:url(../images/instagram.png);
	background-size:100%;
	width:22px;
	height:22px;
	position:absolute;
	left:50%;
	top:30px;
	margin-left:-11px
}


.work {
	background:url(../images/mouse.png);
	background-size:100%;
	width:14px;
	height:23px;
	position:absolute;
	left:50%;
	top:30px;
	margin-left:-7px
}

.border-top {
	background:#FFF;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:40px
}

.border-bottom {
	background:#FFF;
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:40px
}

.border-left {
	background:#FFF;
	position:absolute;
	bottom:0px;
	left:0px;
	width:40px;
	height:100%
}

.border-right {
	background:#FFF;
	position:absolute;
	bottom:0px;
	right:0px;
	width:40px;
	height:100%
}


.around-month-outside {
width: 100%;
float:left;
clear: both;
margin-top:56px
}

.around-month {
padding: 0;
margin: 0 auto;
list-style-type: none;
float: left;
position: relative;
left: 50%;
}

.around-month h2 {
float: left;
position: relative;
right: 50%;
}

.league {
font-size: 22px;
line-height: 22px;
margin-bottom: 0px;
letter-spacing: 4px;
text-transform: uppercase;
font-family: LeagueGothic, Arial, Helvetica, sans-serif;
font-weight: normal;
}

.around-h3 {
	width:100%;
	clear: both;
	float:left;
	margin-top:70px
}

.post-content p {
	width:60%;
	padding-left:20%;
	padding-right:20%;
	font-size:12px;
	line-height:16px;
	letter-spacing:1px;
	text-align:center;
	float:left;
	margin-top:13px;
	margin-bottom:9px
}

#full-image-surround .post-content p {
	margin-bottom:19px
}


.post-content .excerpt {
	width:220px;
	position:absolute;
	left:50%;
	margin-left:-110px;
	top:107px;
	padding:0px
}

.post-content .date {
	font-family:"MillerDisplay Light", Didot, 'Times New Roman', Times, serif;
	font-style: italic;
  	font-weight: normal;
	position:relative;
	margin-bottom:0px;
	float:left;
	width:100%;
	padding:0px;
	text-align:center
}

.date-surround {
	float:left;
	width:26%;
	padding-left:10%;
	padding-right:10%;
	margin-right:27%;
	margin-left:27%;
	border-bottom:1px solid #2a2a2a;
	padding-bottom:9px;
	margin-top:96px
}

.full-image-surround .date-surround {
	margin-top:0px
}

.date-inner {
	float:left;
	width:100%;
	position:relative
}

.line {
	background:#2a2a2a;
	position:absolute;
	left:-38%;
	bottom:6px;
	height:1px;
	width:20%
}

.right-line {
	right:-38%;
	left:auto
}
	

.inside-h3 {
float: left;
position: relative;
left: 50%;
}

.inside-h3 h3 {
float: left;
position: relative;
right: 50%;
text-align:center
}

.miller-italic {
font-family:"MillerDisplay Light", Didot, 'Times New Roman', Times, serif;
font-style: italic;
  font-weight: normal;}

.full-image-surround {
	position:absolute;
	width:100%;
	left:0%;
	top:0px;
	z-index:25;
	float:left;
}

#single-home-container  {
	position:fixed;
	width:100%;
	height:100%;
	overflow:auto;
	left:0%;
	top:0px;
	z-index:25;
	float:left;
	display:none
}

#single-home-container span p {
	text-align:center;
	font-family:"MillerDisplay Light", Didot, 'Times New Roman', Times, serif;
	font-style: italic;
  font-weight: normal;
	font-size:13px;
	letter-spacing:1px;
	position:fixed;
	width:100%;
	left:0px;
	top:49%
}

.trick {
	text-decoration:none
}

.full-image-surround .post-content {
	width:32%;
	margin-left:35%
}

#credits { background:#000; width: 100%;
float: left;
height: 0px;
overflow:hidden; position:relative }

#credits p {
	width: 100%;
color: #FFF;
text-align: center;
float:left;
margin-bottom:0px;
margin-top:46px;
font-size: 13px;
line-height: 20px;
letter-spacing: 1px;
-webkit-font-smoothing: subpixel-antialiased;}

#credits:hover a { border-bottom:1px solid #FFF }

#credits p a {
	color:#FFF;opacity:1.0; 
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	text-decoration:none
}

#credits p a:hover {
	color:#FFF;opacity:0.6; 
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out
}
.credits-link { cursor:pointer }
.close-credits-surround { position:absolute; right:20px; bottom:10px; margin:0px !important; font-family:"MillerDisplay Light", Didot, 'Times New Roman', Times, serif; font-weight:normal; font-style:normal; opacity:0}
.close-credits-surround a { cursor:pointer; border:0px !important }
#white-over {
	background:#e9e7e7;
	position:fixed;
	width:100%;
	height:100%;
	left:0%;
	top:0px;
	z-index:24;
	display:none;
	opacity:0.9
}

.white-behind {
	background:#ffffff;
	position:fixed;
	width:100%;
	height:100%;
	left:0%;
	top:0px;
	z-index:-2;
	display:none;
}

.full-image{
	position:relative;
	float:left;
	width:62%;
	left:16%;
	padding:3%;
	background:#FFF;
	height:auto
}

.full-image img {
	width:100%;
	height:auto;
	float:left
}

#nav {
	position:fixed;
	left:50%;
	top:50%;
	width:200px;
	margin-left:-100px;
	margin-top:-76px;
	z-index:1;
	display:none
}

#nav li {
	text-align:center;
	font-size:14px;
	line-height:19px;
	margin:0px;
	letter-spacing:1px
}

#nav li a {
	color:#b01717;
	text-decoration:none
}

#nav li a:hover {
	cursor:pointer;
	text-decoration:underline
}

body .secondary-nav {
	text-align:center;
	font-size:14px;
	line-height:19px;
	margin:0px;
	letter-spacing:1px;
	margin-top:24px
}

body .secondary-nav a {
	text-decoration:none;
	color:#b01717;
}

body .secondary-nav a:hover {
	text-decoration:underline;
	cursor:pointer
}

body .second-nav-first {
	margin-bottom:21px
}


body .instagram-image {
	width:40%;
	left:27%
}

body .portrait {
	width:40%;
	left:27%
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 1510px) {
		.post {
			width: 29.3%;
			height: auto;
			margin-right: 2%;
			margin-left: 2%;
			float: left;
			position: relative;
			}
			.full-image-surround .post-content p {
				width:80%;
				padding-left:10%;
				padding-right:10%
			}
		}
		
		@media only screen and (max-width: 1200px) {
			
			#full-container {
	width:90%;
	margin-left:5%;
}
			
		.post {
			width: 42%;
			height: auto;
			margin-right: 4%;
			margin-left: 4%;
			float: left;
			position: relative;
			}
			
			.full-image-surround .post-content p {
				width:100%;
				padding-left:0%;
				padding-right:0%
			}
		
		}
	
		
		@media only screen and (max-width: 850px) {
			
			#logo { position:absolute }
			#heading h2 { position:absolute }
			#heading p { position:absolute }
		
			
			.full-image-surround .post-content {
				width:50%;
				margin-left:25%;
			}
			
			#white-over {
	opacity:1.0
}
		
		}
		
		@media only screen and (max-width: 600px) {
			
			#full-container {
				width:80%;
				margin-left:10%;
				float:left
			}
			
				
		.post {
			width: 100%;
			height: auto;
			margin-right: 0%;
			margin-left: 0%;
			float: left;
			position: relative;
			}
			
			.full-image-surround .post-content {
				width:70%;
				margin-left:15%;
			}
			
			.quote-around { display:none }

#heading { display:none }
#full-container { top:0px }

.date-surround {
				float:left;
				width:46%;
				padding-left:10%;
				padding-right:10%;
				margin-right:17%;
				margin-left:17%;
			}
			.line { left:-21% }
			.right-line { right:-21%; left:auto } 
			.full-image { width:84% !important; left:5% !important }
		}
		
		@media only screen and (max-height: 720px) {
		
		/*#heading {
	width:100%;
	float:left;
	height:547px;
	overflow:hidden;
	background:url(../images/background_no-crop.jpg) no-repeat left top fixed;  -webkit-background-size: cover; -moz-background-size: cover;	-o-background-size: cover; background-size: cover;	 }*/
		}




@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League_Gothic-webfont.svg#LeagueGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}
	@media screen and (-webkit-min-device-pixel-ratio: 2) {
	h1 { background:url(../images/lane-retina.png) no-repeat; background-size:100%  }
	}